.home {
    height: 100%;
    overflow: hidden;
    img {
      position: fixed;
      z-index: -1;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .home-body {
      display: block;
      padding: 150px;
      height: 100%;
      overflow: auto;
      span.home-bold {
        display: block;
        width: 225px;
        font-size: 35px;
        font-weight: 700;
        padding-bottom: 15px;
        font-family: "Open Sans", sans-serif;
      }
      span.home-description {
        font-size: 14px;
        width: 50%;
        display: block;
      }
      button.apply-button {
        font-size: 16px;
        padding: 5px 15px;
        background-color: #ec6744;
        border-radius: 7px;
        margin-top: 20px;
        border: none;
        color: white;
        width: 150px;
      }
    }
}
@media (max-width: 768px) {
  .home-body {
    padding: 20px !important;
  }
  span.home-description {
    width: 100% !important;
  }
}
