<div class="home">

  <img src="assets/homeImage.jpg" alt="Logo">
<div class="home-body">
    <span class = "home-bold"> Boost up your career</span>
    <span class = "home-description">At the forefront of innovation, we specialize in nurturing the next generation of leaders in Artificial Intelligence and Cybersecurity. Our internship programs are designed to provide hands-on experience in the rapidly evolving fields of AI and cyber defense, offering students and young professionals the chance to work on real-world projects with cutting-edge technologies.</span>
    <button type="button" class = "apply-button" [routerLink]="['/training-internship']">Internships</button>
  </div>
</div>
</div>